@import url(./root.css);
body {
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-dark-grayish-blue);
  font-size: 0.89rem;
  background-color: var(--clr-primary-cream);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* start stepper */
.steps {
  margin-bottom: 2rem;
  position: relative;
}
.step-title {
  font-size: 0.6rem;
}
.step-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: var(--clr-neutral-white);
  transition: 4s;
}
.bx-check {
  color: var(--clr-primary-cream);
}
.bx-x {
  color: var(--primary-color);
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.bx-x:hover {
  transform: scale(1.5) rotate(180deg);
}
.step-button[aria-expanded="true"] {
  width: 25px;
  height: 25px;
  color: var(--clr-neutral-white);
}
.cart-step {
  background-color: var(--primary-color);
}
.done {
  background-color: var(--primary-color);
  color: var(--clr-neutral-white);
}
.step-item {
  z-index: 10;
  text-align: center;
}
#progress {
  -webkit-appearance: none;
  position: absolute;
  width: 90%;
  z-index: 5;
  top: 15px;
  height: 0.2rem;
  margin-left: 18px;
  margin-bottom: 18px;
}
#progress::-webkit-progress-value {
  background-color: var(--primary-color);
  transition: 0.5s ease;
}
#progress::-webkit-progress-bar {
  background-color: var(--clr-primary-cream);
}
/* start stepper */
/*     */
.section {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
}

/**/

.checkOut-container {
  /* margin-top: 1.1rem;
  height: 100%; */
  background-color: var(--clr-primary-cream);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.checkOut-body {
  display: block !important;
}
.card-body {
  width: 100%;
}
.card-body-details {
  overflow-y: initial !important;
  /* height: 100%; */
}
.checkOutImg {
  height: 100%;
}
.checkOut-card {
  width: 100%;
  height: 80%;
}
.section-title {
  color: var(--primary-color);
}
/* start checkout section  */
.checkout-input,
.visa-input {
  outline: none !important;
  box-shadow: none !important;
}
.checkout-input:focus,
.visa-input:focus {
  border-color: var(--primary-color);
}
.payment-icon {
  border: 1px solid var(--primary-color);
  cursor: pointer;
}
.payment-icon img {
  width: 30px;
  height: 30px;
}
.showbtn {
  /* background-color: var(--primary-color);
  border: none;
  color: var(--clr-neutral-white); */
  cursor: pointer;
  text-decoration: none;
  gap: 0.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-neutral-white);
  background-color: var(--primary-color);
  font-size: 0.95rem;
  font-weight: var(--fw-bold);
  border-style: none;
  border-radius: 0.5rem;

  padding: 0.5rem;
}
.back {
  cursor: pointer;
  color: var(--primary-color);
}
.checkout-section {
  width: 100%;
}

/* end checkout section  */

/* start cart section  */
.cart-section {
  overflow-y: auto; 
  height:510px;
}
.cart-item {
  border: none !important;
}
.product__title {
  font-family: var(--ff-fraunces);
  font-size: 1.1rem;
  color: var(--clr-neutral-dark-blue);
  line-height: 1;
}
.product__price {
  font-size: 0.9rem;
  font-weight: var(--fw-bold);
  color: var(--primary-color);
}

.count__container {
  display: flex;
  max-height: 80px;
  align-items: center;
  text-align: center;
  color: var(--clr-neutral-dark-grayish-blue);
}
.count__btn {
  border: 1px solid var(--primary-color);
  background-color: var(--clr-neutral-white);
  color: var(--primary-color);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  width: 15px;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inc {
  border-radius: 0.2rem 0rem 0rem 0.2rem;
}
.dec {
  border-radius: 0rem 0.2rem 0.2rem 0rem;
}
.counter__text {
  color: var(--primary-color);
  width: 80px;
  width: 30px;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
}
.product__details {
  padding-top: 0px !important;
}
.quantityBtn {
  cursor: pointer;
}
/* end cart section  */
/* start image section */
.checkOutImg-section {
  position: relative;
}
.summary-section {
  position: absolute;
  min-width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  right: 25%;
}
.summary-element {
  background-color: var(--clr-primary-cream);
  border-radius: 6px;
  height: 50px;
}
.summary-element-img {
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
}
.count-elements {
  font-family: serif;
}
/* end image section */

/* start payment section */
.visa-info-details {
  /* padding: 0.375rem 0.75rem; */
  display: flex !important;
  flex-wrap: wrap !important;
  border: none !important;
}
.visa-input {
  border: var(--bs-border-width) solid var(--bs-border-color);
}
/* end payment section */
