@import url('./root.css');
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .search__input {
    width: 100%;
    border: 3px solid var(--primary-color);
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .search__input:focus{
    color: var(--primary-color);
  }
  
  .search__btn {
    width: 40px;
    height: 35px;
    border: 0.8px solid var(--primary-color);
    background: var(--primary-color);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  .wrap{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hide{
    display: none;
  }